name: flutter_frontend
description: A new Flutter project.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=2.18.6 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

  window_size:
    git:
      url: https://github.com/google/flutter-desktop-embedding
      path: plugins/window_size

  cupertino_icons: ^1.0.2
  freezed: ^2.3.2
  freezed_annotation: ^2.2.0
  dio: ^5.0.1
  get_it: ^7.2.0
  build_runner: ^2.3.3
  json_serializable: ^6.6.1
  json_annotation: ^4.8.0
  go_router: ^6.2.0


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:

  uses-material-design: true
